﻿<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/MySite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @RenderSection("HeaderStyle", false)
</head>
<body dir="rtl">


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

        <!-- Brand -->
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">TakSaz</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">صفحه اصلی</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        محصولات
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">فیلتر هوا</a>
                        <a class="dropdown-item" href="#">فیلتر کابین</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        خدمات
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">دعوت به همکاری</a>
                        <a class="dropdown-item" href="#">مقالات و آموزش</a>
                        <a class="dropdown-item" href="#">اخبار</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">گارانتی محصولات</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        فروش
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">نمایندگی تهران</a>
                        <a class="dropdown-item" href="#">نمایندکی شهرستان</a>
                        <a class="dropdown-item" href="#">اخذ نمایندگی</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        درباره ما
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CompanyHistory", "Home")">تاریخچه شرکت</a>
                        <a class="dropdown-item" href="@Url.Action("ISOCertificate", "Home")">استاندارد</a>
                        <a class="dropdown-item" href="@Url.Action("CompanyCapabilities", "Home")">توانمندی ها</a>
                        <a class="dropdown-item" href="@Url.Action("CompanyGoals", "Home")">اهداف شرکت</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ContactUs", "Home")">تماس با ما</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top: 80px">
        @RenderBody()
        <hr />
        <footer class="bg-dark" style="min-height: 200px">
            <div class="row">
                <div class="col-md-5">
                    <div class="row mt-3">
                        <div class="col-12  pb-3 mr-3 text-white text-right">خبرنامه</div>
                        <div class="col-8">
                            @using (Html.BeginForm("JoinNewsLetter", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="input-group mb-3 mr-2">

                                    <input type="text" class="form-control" placeholder="ایمیل" name="Email">
                                    <div class="input-group-prepend">
                                        <input class="btn btn-outline-primary" type="submit" value="ارسال" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-12 text-center">
                            <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
                            <a href="#"><i class="fab fa-facebook-f fa-3x"></i></a>
                            <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2"></div>

                <div class="col-md-5">
                    <div class="row mt-3">
                        <div class="col-12">
                            <h5 class="h5 text-white text-right">دفتر مرکزی</h5>
                        </div>
                        <div class="col-12">
                            <p class="text-white text-right">
                                خیابان ۲۲بهمن ـ کوچه شهید مزجی ـ ساختمان امیر المؤمنین ـ طبقه اول ـ واحد ۳
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="text-white text-right">
                                تلفن : 32241200-023
                            </p>
                        </div>
                        <div class="col-12">
                            <h5 class="h5 text-white text-right">کارخانه</h5>
                        </div>
                        <div class="col-12">
                            <p class="text-white text-right">
                                کلیومتر ۲ جاده رویان ـ روبروی تالار نگین مهر ـ جنب سرد خانه سلام
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>