﻿@model RM.MVCWebUI.ViewModel.FilterFirstPageViewModel

<div id="FrontSlide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">

        @for (int i = 0; i < Model.FirstPageImageSlider.Count(); i++)
        {
            if (i == 0)
            {
                <li data-target="#FrontSlide" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#FrontSlide" data-slide-to="@i"></li>
            }
        }

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">

        @for (int i = 0; i < Model.FirstPageImageSlider.Count(); i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <img style="width: 100%; height: 100%;" src="@Model.FirstPageImageSlider[i]" alt="Filter">
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img style="width: 100%; height: 100%;" src="@Model.FirstPageImageSlider[i]" alt="Filter">
                </div>
            }
        }
    </div>


    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#FrontSlide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#FrontSlide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>