﻿@using RM.BL.Helper
@model RM.Core.Blog.IBlogPost


<div class="col-md-4">
    <div class="item-box-blog">
        <div class="item-box-blog-image">
            <!--Date-->
            <div class="item-box-blog-date bg-blue-ui white">
                <span class="mon">@Model.CreateDate.ToPersianDateMMDD()</span>
            </div>
            <!--Image-->
            <figure>
                <img alt="" src=@Model.Thumbnail>
            </figure>
        </div>
        <div class="item-box-blog-body">
            <!--Heading-->
            <div class="item-box-blog-heading">
                <a href="#" tabindex="0">
                    <h5>@Model.Title</h5>
                </a>
            </div>
            <!--Data-->
            <div class="item-box-blog-data" style="padding: 15px;">

            </div>
            <!--Text-->
            <div class="item-box-blog-text">
                <p>
                    @Model.ShortDescription
                </p>
            </div>
            <div class="mt">
                <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a>
            </div>
            <!--Read More Button-->
        </div>
    </div>
</div>