﻿@model RM.MVCWebUI.ViewModel.FilterFirstPageViewModel


<div class="row blog">
    <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @for (int i = 0; i < Model.TopBlogPost.Count; i++)
                        {
                            if (i == 3)
                            {
                                @Html.Raw("</div>")
                                @Html.Raw("</div>")
                                @Html.Raw(@"<div class=""carousel-item"">")
                                @Html.Raw(@"<div class=""row"">")
                            }

                            @Html.Partial("_FirstPageBlogPostPartial", Model.TopBlogPost[i])
                        }
                    </div>
                </div>
                <!--.item-->
            </div>
            <!--.carousel-inner-->
            <ol class="carousel-indicators">
                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                @if (Model.TopBlogPost.Count > 3)
                {
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                }
            </ol>

        </div>
        <!--.Carousel-->
    </div>
</div>