﻿
@{
    ViewBag.Title = "CompanyCapabilities";
}

<br />
<div class="row">
    <div class="col-2"></div>
    <div class="c"></div>
    <h3 class="h3 text-right">توانمندی ها</h3>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-right">
        <ol>
            <li>انبار های مواد اولیه و فیلتر های ساخته شده </li>
            <li>آزمایشگاه</li>
            <li>کادر متحضیصن و پرسنل کارآزموده</li>
            <li>سالن تولیده فیلتر هوا </li>
        </ol>

      

    </div>
</div>


