﻿@{
    ViewBag.Title = "CompanyHistory";
}
<br />
<div class="row">
    <div class="col-2"></div>
    <div class="c"></div>
    <h3 class="h3 text-right">تاریخچه شرکت</h3>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class=" text-justify">
            جوامع بشری درطول تاریخ همواره به دنبال جام عمل پوشاندن توانمندی ها و قابلیتهای درونی خویش بوده اند. گرایش به شکوفا کردن استعداد های نهفته در تمام واحدهای اقتصادی و صنعتی وجود دارد.
        </p>
        <p class="text-justify">
            واحدهای تولیدی که خواهان حفظ و بقای خود هستند به ابتکار و نو اوری دست می زنند تا هم نیاز های خود را مرتفع ساخته و هم اینکه بتوانند در صنعت کشورمان ایران عزیز نقش بسزایی ایفا نمایند. همگام بار شد تقرن و تکلونولوژی شرکت تولیدی فیلتر ...............درسال ...............شکوفا گردیده و درسطح گسترده نیاز های خودرو های سبک را بر طرف ساخته است. باشد که خداوند متعال ما را در این امر یاری رساند.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="c"></div>
    <h3 class="h3 text-right">کادرمتخصیین و پرسنل کار آزموده </h3>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class=" text-justify">
            شرکت تولیدی ...... بابیش از دو دهه تجربه در تولید انواع فیلتر موفقیت خود را مرهون توجه و اهمیت دادن مدیران خود به موضوع آموزش و به روز شون اطلاعات همگام بارشد فناوری می دانند با این نگرش محصولات این تولیدی همواره از کیفیت مطالبی بر خوردار خواهد ماند. و این نوید را به بازار مصرفی به ارمغان خواهد داشت که همیشه و همه جا می توانند با آرامش خاطر محصولات را انتخاب اول قرار دهند.
        </p>
        
    </div>
</div>