﻿
@{
    ViewBag.Title = "تماس با ما";
}

<h3 class="text-right">تماس با ما</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-right">
            @*@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new {@class = "text-danger "})

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 text-left">
                        <input type="submit" value="ارسال" class="btn btn-primary"/>
                    </div>
                </div>
            }*@

        </div>
        <div class="col-md-6 border-right text-right">
            <div class="row">
                <div class="col-12">
                    <h4 class="h4">دفتر مرکزی</h4>
                </div>
                <div class="col-2"></div>
                <div class="col-10">
                    <p>
                        خیابان ۲۲بهمن ـ کوچه شهید مزجی ـ ساختمان امیر المؤمنین ـ طبقه اول ـ واحد ۳
                    </p>
                    <p> تلفن : 32241200ـ023 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="h4">کارخانه</h4>
                </div>
                <div class="col-2"></div>
                <div class="col-10">
                    <p>
                        کلیومتر ۲ جاده رویان ـ روبروی تالار نگین مهر ـ جنب سرد خانه سلام 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>