﻿@model RM.MVCWebUI.ViewModel.FilterFirstPageViewModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_FirstPageImageSliderPartial", Model)

<br/>
<br/>

<div class="bg-light" style="min-height: 200px">
    <p class="text-right mb-4 mt-4">محصولات جدید</p>


</div>

<br/>
<br/>

<div>
    <p class="text-right mb-4 mt-4">مقالات</p>

    @Html.Partial("_FirstPageBlogPartial", Model)
</div>
 

@section HeaderStyle
{<style>
 

     </style>
}