﻿
@{
    ViewBag.Title = "ISOCertificate";
}

<br />
<div class="row">
    <div class="col-2"></div>
    <div class="c"></div>
    <h3 class="h3 text-right">استاندارد ها</h3>
</div>

<div class="row" style="max-height: 350px;">
  
    <div class="col-2"></div>
    <div class="col-3">
        <img src="~/Content/Image/ISOImage.jpg" class="img-fluid" />
    </div>
    <div class="col-2"></div>
    <div class="col-3">
        <img src="~/Content/Image/StandardImage.jpg" class="img-fluid"  />
    </div>
    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-2"></div>
    <div class="8">
        <p>
            اخذنشان استندارد انواع فیلتر خودرو های سبک    اخذ گواهینامه ایزو.......    اخذ ..........
        </p>
    </div>
</div>

