﻿@model RM.Core.Car.ICarType

@{
    ViewBag.Title = "ایجاد";
    Html.EnableClientValidation(true);
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">نوع خودرو</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        خودرو
                    </li>
                    <li class="breadcrumb-item">
                        نوع خودرو
                    </li>
                    <li class="breadcrumb-item active">ایجاد</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-1">

                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">ایجاد نوع جدید</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Type, htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Type, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input type="submit" value="ایجاد" class="btn btn-info"/>
                                <a class="btn btn-default float-left" href="@Url.Action("Index")">لغو</a>
                            </div>
                            <!-- /.card-footer -->

                        </div>
                    }

                </div>
                <!-- /.card -->

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->