﻿@model RM.Core.Car.ICarType

@{
    ViewBag.Title = "Delete";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">نوع خودرو</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        خودرو
                    </li>
                    <li class="breadcrumb-item">
                        نوع خودرو
                    </li>
                    <li class="breadcrumb-item active">حذف</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-1">

                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">حذف</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="form-horizontal">
                        <div class="card-body">

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Type)
                                </dd>

                            </dl>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" value="حذف" class="btn btn-danger"/>
                                <a class="btn btn-default float-left" href="@Url.Action("Index")">لغو</a>
                            }

                        </div>
                        <!-- /.card-footer -->

                    </div>

                </div>
                <!-- /.card -->

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->