﻿@model IEnumerable<RM.Core.Car.ICarType>
@{
    ViewBag.Title = "Index";
}

@section PageScript
{
    <!-- Slimscroll -->
    <script src="~/Scripts/Admin/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/Admin/fastclick.min.js"></script>
}

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">نوع خودرو</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                       خودرو
                    </li>
                    <li class="breadcrumb-item active">نوع خودرو</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-12">
                <p>
                    <a class="btn btn-success" id="btnNewGroup" href="@Url.Action("Create")"><i class="fas fa-plus"></i> افزودن نوع جدید </a>
                </p>
                <div class="card">

                    <div class="card-body p-0">

                        <table class="table">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>نوع خودرو</th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Type</td>
                                    <td>
                                        <a class="btn btn-warning" href="#"><i class="fas fa-edit"></i></a> |
                                        <a class="btn btn-danger" href="@Url.Action("Delete","CarType",new {id=@item.Id})"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>

                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->