﻿@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron" style="background-image: url(/Image/Slider-2.jpg); background-size: cover; ">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="container h-100">
    <div class="row h-100 align-content-center justify-content-center" dir="rtl">
        <div class="col-md-4 align-content-center">
            <a href="@Url.Action("Index", "Home", new {Area = "Filter"})">
                <img style="max-width: 200px" src="~/Image/Filter.jpg" alt="فیتر"/>
            </a>
        </div>
        <div class="col-md-4">
            <img style="max-width: 200px" src="~/Image/Pan.jpg" alt=""/>
        </div>
        <div class="col-md-4 ">یجای دیکه</div>
    </div>
</div>